html {
  background-image: url(full_background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.upper_background {
  width: 500px;
  height: auto;
  background-color: #2bab8b;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: white;
  text-align: center;
  -webkit-box-shadow: -16px 15px 18px 1px rgba(43, 171, 139, 0.39);
  -moz-box-shadow: -16px 15px 18px 1px rgba(43, 171, 139, 0.39);
  box-shadow: -16px 15px 18px 1px rgba(43, 171, 139, 0.39);
  border-color: black;
  padding: 2px;
}

.choice {
  margin-top: 10px;
  width: 220px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background-color: white;
  color: black;
  font-size: 23px;
}

.choice_green {
  margin-top: 10px;
  width: 220px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background-color: green;
  color: black;
  font-size: 23px;
}

.choice_red {
  margin-top: 10px;
  width: 220px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background-color: red;
  color: black;
  font-size: 23px;
}