{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/quiz.css')}}">
<form action="" method="post" novalidate>
    <div class="upper_background">
    <h1 class="question"> {{ question }} </h1>
    {{ form.hidden_tag() }}
    {% if correct_answer and correct_answer == 1 %}
        <p class="middle_text">{{ form.answer1(type="submit", class="choice_green") }}</p>
    {% elif chosen_answer and correct_answer != chosen_answer and chosen_answer == 1 %}
        <p class="middle_text">{{ form.answer1(type="submit", class="choice_red") }}</p>
    {% elif answered %}
        <p class="middle_text">{{ form.answer1(type="submit", class="choice") }}</p>
    {% else %}
        <p class="middle_text">{{ form.answer1(type="submit", class="choice") }}</p>
    {% endif %}

    {% if correct_answer and correct_answer == 2 %}
        <p class="middle_text">{{ form.answer2(type="submit", class="choice_green") }}</p>
    {% elif chosen_answer and correct_answer != chosen_answer and chosen_answer == 2 %}
        <p class="middle_text">{{ form.answer2(type="submit", class="choice_red") }}</p>
    {% elif answered %}
        <p class="middle_text">{{ form.answer2(type="submit", class="choice") }}</p>
    {% else %}
        <p class="middle_text">{{ form.answer2(type="submit", class="choice") }}</p>
    {% endif %}

    {% if correct_answer and correct_answer == 3 %}
        <p class="middle_text">{{ form.answer3(type="submit", class="choice_green") }}</p>
    {% elif chosen_answer and correct_answer != chosen_answer and chosen_answer == 3 %}
        <p class="middle_text">{{ form.answer3(type="submit", class="choice_red") }}</p>
    {% elif answered %}
        <p class="middle_text">{{ form.answer3(type="submit", class="choice") }}</p>
    {% else %}
        <p class="middle_text">{{ form.answer3(type="submit", class="choice") }}</p>
    {% endif %}

    {% if correct_answer and correct_answer == 4 %}
        <p class="middle_text">{{ form.answer4(type="submit", class="choice_green") }}</p>
    {% elif chosen_answer and correct_answer != chosen_answer and chosen_answer == 4 %}
        <p class="middle_text">{{ form.answer4(type="submit", class="choice_red") }}</p>
    {% elif answered %}
        <p class="middle_text">{{ form.answer4(type="submit", class="choice") }}</p>
    {% else %}
        <p class="middle_text">{{ form.answer4(type="submit", class="choice") }}</p>
    {% endif %}

    {% if answered %}
        <p class="middle_text">{{ form.move_on(type="submit", class="choice") }}</p>
    {% endif %}
    </div>
</form>
{% endblock %}